body {
	text-align: center;
	background: url('http://wallpapercave.com/wp/nYJP9ij.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.95;
}

.nav a {
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #262626;
  }

 .nav li {
   display: inline;
   margin: 4px;
 }

 .list li {
	text-align: left;
	border-style: inset;
	padding: 4px;
	margin: 4px;
	list-style-type: none;
	background-color: #262626;
	color: white;
}

.nav a:hover {
    background-color: #404040;
    text-decoration: none;
    color: #55B8ED;
}

.list h3:hover {
    background-color: #404040;
    text-decoration: none;
    color: #55B8ED;
}

.list a:hover {
    background-color: #404040;
    text-decoration: none;
    color: white;
}

.panel {
	background-color: #262626;
	color: white;
}

.panel-default {
	color: white;
	margin: 4px;
}

.panel-heading {
	background-color: #262626;
	color: white;
	margin: 4px;
}

.panel-title {
	background-color: #262626;
	color: white;
}

.panel-group {
	background-color: #262626;
	color: white;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #262626;
    border-color: #ddd;
}

h1 {
	color: white;
	background-color: #262626;
	border-style: outset;
	padding: 10px;
	text-align: center;
}

h2 {
	font-size: 20px;
	color: white;
	background-color: #262626;
	border-style: outset;
	padding: 10px;
	text-align: center;
}

h3 {
	font-size: 15px;
	color: white;
	background-color: #262626;
	border-style: outset;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}

p {
	font-size: 15px;
	color: white;
	padding: 10px;
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
}

span {
	color: #55B8ED;
	font-style: italic;
}

iframe {
	width: 640px;
	height: 360px;
	max-width: 100%;
	opacity: 1;
}

img {
	width: 50px;
	height: 50px;
}

